*, html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 1.4;
}

html {
    height: 100%;
}

button {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 8px 20px;
    cursor: pointer;
}

.centerVertically {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    height: 100%;
    background-color: yellow;
}